<form
  [formGroup]="editForm"
  enctype="multipart/form-data"
  (ngSubmit)="onSubmit()"
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <div class="mb-4">
    <!-- Name -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
        >ID:</label
      >
      <input
        type="text"
        id="name"
        formControlName="id"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- Name -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
        >Name:</label
      >
      <input
        type="text"
        id="name"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- url -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
        >Url:</label
      >
      <input
        type="text"
        id="name"
        formControlName="url"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- upload -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
        >Upload Img</label
      >
      <input
        type="file"
        id="name"
        formControlName="img"
        (change)="onFileSelected($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- Start Date -->
    <div class="mb-4">
      <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2"
        >Start Date:</label
      >
      <input
        type="date"
        id="startDate"
        formControlName="startDate"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- End Date -->
    <div class="mb-4">
      <label for="endDate" class="block text-gray-700 text-sm font-bold mb-2"
        >End Date:</label
      >
      <input
        type="date"
        id="endDate"
        formControlName="endDate"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- Active (Checkbox) -->
    <div class="mb-4 flex items-center gap-4">
      <label for="active" class="block text-gray-700 text-sm font-bold mb-2"
        >Active:</label
      >
      <input
        type="checkbox"
        id="active"
        formControlName="active"
        class="rounded-md w-6 h-6"
      />
    </div>

    <!-- Select Labels -->

    <div class="mb-4">
      <label
        for="selectedLabels"
        class="block text-gray-700 text-sm font-bold mb-2"
      >
        Selected Labels:
      </label>
      <select
        id="labels"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="label"
      >
        <option selected disabled>Choose a label</option>
        <option *ngFor="let option of labelOptions" [value]="option.name">
          {{ option.name }}
        </option>
      </select>

      <button
        (click)="addLabel()"
        class="px-4 py-2 cursor-pointer mt-2 text-black bg-blue-700 rounded-md"
        type="button"
      >
        Add Label
      </button>
    </div>

    <div class="selected-labels mb-4">
      <ul class="selected-label">
        <li
          class="px-2 py-1 bg-slate-800 text-white rounded-md mb-2 relative"
          *ngFor="let label of editForm.get('labels')?.value"
        >
          <span
            (click)="removeLabel(label)"
            class="absolute top-1 right-1 cursor-pointer"
          >
            X</span
          >
          {{ label }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Selected Zones -->
  <div class="mb-4">
    <label
      for="selectedLabels"
      class="block text-gray-700 text-sm font-bold mb-2"
    >
      Selected Zones:
    </label>
    <select
      id="zones"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="zoneId"
    >
      <option selected disabled>Choose a zone</option>
      <option *ngFor="let zone of zoneOptions" [value]="zone.key">
        {{ zone.name }}
      </option>
    </select>
  </div>

  <button
    type="submit"
    [disabled]="!editForm.valid"
    class="px-4 py-2 bg-blue-600 cursor-pointer"
  >
    Submit
  </button>
</form>
