<form
  [formGroup]="editForm"
  (ngSubmit)="onSubmit()"
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <div class="mb-4">
    <!-- Name -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
        >Name:</label
      >
      <input
        type="text"
        id="name"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- Other form fields for channelId, language, zoneId, priority, etc. -->

    <!-- Start Date -->
    <div class="mb-4">
      <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2"
        >Start Date:</label
      >
      <input
        type="date"
        id="startDate"
        formControlName="startDate"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- End Date -->
    <div class="mb-4">
      <label for="endDate" class="block text-gray-700 text-sm font-bold mb-2"
        >End Date:</label
      >
      <input
        type="date"
        id="endDate"
        formControlName="endDate"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <!-- Active (Checkbox) -->
    <div class="mb-4 flex items-center gap-4">
      <label for="active" class="block text-gray-700 text-sm font-bold mb-2"
        >Active:</label
      >
      <input
        type="checkbox"
        id="active"
        formControlName="active"
        class="rounded-md w-6 h-6"
      />
    </div>

    <!-- Selected Labels -->
    <label
      for="selectedLabels"
      class="block text-gray-700 text-sm font-bold mb-2"
    >
      Selected Labels:
    </label>
    <select
      id="labels"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="labels"
    >
      <option selected disabled>Choose a label</option>
      <option *ngFor="let label of labelOptions" [value]="label.key">
        {{ label.name }}
      </option>
    </select>
  </div>

  <!-- Selected Zones -->

  <!-- Selected Labels -->
  <label
    for="selectedLabels"
    class="block text-gray-700 text-sm font-bold mb-2"
  >
    Selected Labels:
  </label>
  <select
    id="labels"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    formControlName="labels"
  >
    <option selected disabled>Choose a label</option>
    <option *ngFor="let label of zoneOptions" [value]="label.key">
      {{ label.name }}
    </option>
  </select>

  <button
    type="submit"
    [disabled]="!editForm.valid"
    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  >
    Submit
  </button>
</form>
