<div class="flex h-screen">
  <div
    class="fixed z-10 inset-y-0 left-0 w-80 bg-gray-600 border-r overflow-auto p-4"
  >
    <!-- Drawer content here -->

    <app-banner-edit [sharedId]="sharedId" [selectedBanner]="selectedBanner" />
  </div>

  <div class="flex-1 flex flex-col">
    <!-- Main content here -->
    <div class="App max-w-3xl mx-auto">
      <h1 class="text-center text-black text-3xl mb-4 font-bold">
        Banners Page
      </h1>

      <!-- sort -->
      <div class="">
        <ul class="flex justify-center gap-5">
          <li
            class="cursor-pointer bg-slate-800 text-white px-4 rounded-md"
            *ngFor="let item of sortItemsArray"
            (click)="clickHandle(item.accessor)"
          >
            {{ item.text }}
          </li>
        </ul>
      </div>

      <!-- Filter Input -->
      <div class="mt-10 text-start ml-12">
        <input
          type="text"
          [(ngModel)]="filterText"
          (input)="fetchBanners()"
          placeholder="Filter by Name"
          class="p-2 border rounded"
        />
      </div>

      <!-- Render Banners -->
      <div class="p-4" *ngFor="let banner of banners.entities">
        <div
          class="max-w-md w-full rounded overflow-hidden shadow-lg mx-auto mb-4 relative"
        >
          <div class="">
            <span
              (click)="handleBannerSave(banner)"
              class="px-2 py-1 cursor-pointer bg-slate-700 text-white top-2 right-2 absolute rounded-md"
              >Edit</span
            >
          </div>
          <img
            src="{{ banner.url }}"
            alt="{{ banner.name }}"
            class="w-full h-auto rounded-md"
          />
          <div class="p-4">
            <h2 class="font-bold text-xl">{{ banner.name }}</h2>
            <p class="text-sm text-gray-600">
              Status: {{ banner.active ? "Active" : "Inactive" }}
            </p>
            <p class="text-sm text-gray-600">Zone: {{ banner.zoneId }}</p>
            <p class="text-sm text-gray-600">
              Start Date: {{ banner.startDate | date }}
            </p>
            <p class="text-sm text-gray-600">
              End Date: {{ banner.endDate | date }}
            </p>
            <p class="text-sm text-gray-600">
              Labels: {{ banner.labels.join(", ") }}
            </p>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pagination-container">
        <mat-paginator
          [length]="banners.total"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="fetchBanners($event)"
        />
      </div>
    </div>
  </div>
</div>
